<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h1> Sign Up</h1>
    <form action="/register" method="post">
        <div>
            <label for="username">Name: </label>
            <input type="text" name="username" id="username" placeholder="username">
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="text" name="email" id="email" placeholder="someone@example.com">
        </div>
        <div>
            <label for="phone">Phone Number: </label>
            <input type="text" name="phone" id="phone" placeholder="phone number">
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="text" name="password" id="password" placeholder="password">
        </div>
        <button type="submit"> Sign Up </button>

    </form>
</body>

</html>